<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{=URL('static','jquery.mobile/jquery.mobile-1.4.5.min.css')}}">
    <script src="{{=URL('static','jquery.mobile/jquery.min.js')}}"></script>
    <script src="{{=URL('static','jquery.mobile/jquery.mobile-1.4.5.min.js')}}"></script>
    <script src="{{=URL('static','js/underscore-min.js')}}"></script>
    <script src="{{=URL('static','js/angular.min.js')}}"></script>
    <script src="{{=URL('static','js/karaoke.js')}}"></script>
    <title></title>
</head>
<body ng-app="myApp" ng-controller="karaokeController">

<div data-role="page" id="pageone">
  <div data-role="main" class="ui-content">
  <h3>My Phonebook</h3>

  <!-- <input data-type="search" placeholder="Search for songs or artists..." ng-model="search.$" ng-change="hello()" /> -->

  <form class="ui-filterable">
    <input id="myFilter" data-type="search">
  </form>

  <ul data-role="listview" data-inset="true" data-autodividers="true" data-filter="true" data-input="#myFilter">
    
      {{ for x in rows:}}
      <li>
        <a href="#">{{ =x.artist }}  -  {{ =x.title }}</a>
      </li>    
      {{pass}}
  </ul>
  
  </div>
</div> 


</body>
</html>
